.homepage_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  width: 90%;
  padding-top: 10px;
}

.heading h1 {
  color: #cae962;
}

.footer {
  position: absolute;
  bottom: 0;
}

.home_card_container {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 40px;
  color: #cae962;
}

.pagination_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  height: 40px;
  color: #cbe4de;
  list-style: none;
}

.pagination_container a {
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 50%;
}
.pagination_container a:hover {
  cursor: pointer;
  background-color: #cae962;
  color: #1a1b1b;
}

.active_page {
  background-color: #cae962;
  color: #1a1b1b;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .home_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
