.moviecard_container {
  width: 200px;
  height: 400px;
  color: #cbe4de;
  position: relative;
}

.moviecard_container:hover {
  cursor: pointer;
}

.card_img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-in-out;
}

.card_img:hover {
  transform: scale(0.9);
}

.movie_title {
  color: #cae962;
}

.movie_lang {
  text-transform: uppercase;
}
